html,
body {
  display: flex;
  min-height: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
}
#header-wrapper {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
  /* padding: 10px; */
}
header {
  background-image: url("./images/th.png");
}
header h1,
header h2 {
  margin: 5px 0;
}

header h2 {
  font-size: 1.2em;
  font-weight: 100;
}
header img {
  background-color: #ffffff90;
  border: 4px solid #fff;
  border-radius: 90px;
}

header #my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#header-info {
  text-shadow: 1px 1px 2px #000000;
  color: white;
  padding: 10px;
}
#main {
  flex: 5;
}
footer {
  background-color: lightblue;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  padding: 5px;
}
